.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self:end;
    background-image:url("file:///C:/Users/Usuario/Desktop/PI-Food-main/client/src/css/img/1.jpg");
    background-attachment: fixed;
    /* background-position: center center; */
    background-size:cover; 
    background-repeat:no-repeat;
    align-items:end;
    padding: 30px;
    

    
    

}

.input {
    background-color: hsla(0, 0%, 1%, 0.281);
    border: .1rem solid rgba(124, 124, 124, 0.493);
    border-radius: 1rem;
     text-shadow: center;
     width: 200px;
     height: 30px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #f4f7f8;
     font-size: 15px;
     backdrop-filter: blur(0.2rem);
     cursor: pointer;
     transition: 0.9s;

}

.input:hover{
    background-color: rgba(8, 8, 8, 0.644);  }

    .card {
        width: 800px;
        height: 1300px;
        margin: 0px;
        backdrop-filter: blur(0.2rem);
        background-color: hsla(0, 0%, 1%, 0.281);
        border: .1rem solid rgba(124, 124, 124, 0.493);
        font-size: 15px;
        
        
        
    }

    .card h1 {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(179, 48, 102);
        font-style: italic;

    }

    .card h2 {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(218, 95, 146);
        
    }

    .card h4 {
        width: 700px;
        text-align:justify;
        margin-left: 50px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;
        color: rgb(182, 41, 99);
        
    }

    .card img {
        border-radius: 10px;
    }

    .diet {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(182, 41, 99);
        justify-content: space-evenly;

    }

    .diet h5{
        display:list-item;
        list-style-type: circle;
    }
    