.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-image:url("file:///C:/Users/Usuario/Desktop/PI-Food-main/client/src/css/img/3.jpg");
    background-attachment: fixed;
    /* background-position: center center; */
    background-size:cover; 
    background-repeat:no-repeat;
    min-height: 100vh;
    min-width: 100vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.select1 {
    background-color: hsla(0, 0%, 1%, 0.281);
   border: .1rem solid rgba(124, 124, 124, 0.493);
   border-radius: 1rem;
    text-shadow: center;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f4f7f8;
    font-size: 15px;
    backdrop-filter: blur(0.2rem);
    cursor: pointer;
    transition: 0.9s;
    transform: translateY(-3%);
    margin: 8px;
}
.select1:hover{
    background-color: rgba(8, 8, 8, 0.644);
     }